In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import sqlalchemy as db

## Create DB connection to PostgreSQL to load table as dataframes.

In [ ]:
#Import bikedata25K

engine = db.create_engine('postgresql://postgres:********@localhost:5432/stagingDB') 
conn = engine.raw_connection()

query = "SELECT * FROM bikeparking_raw"
bikedata25k_df = pd.read_sql_query(query, engine)

In [ ]:
bikedata25k_df.head()

### Transforming bike data table 
- Adding 3 new columns 
    - 3dp lat
    - 3dp long
    - combined lat_long 
    - renamed columns to lower case

In [ ]:
def truncate_number(number, decimals):
    factor = 10 ** decimals
    return int(number * factor) / factor

In [ ]:
#1.1 Transforming bike data : Create new column round lat and long values to 3dp
bikedata25k_df['latitude_3dp'] = [truncate_number(i, 4) for i in bikedata25k_df['Latitude']]
bikedata25k_df['longitude_3dp'] = [truncate_number(i, 4) for i in bikedata25k_df['Longitude']]
bikedata25k_df.head()

In [ ]:
#1.2 Transforming bike data: generate new column lat_long 
##this it to transform to text: bikedata25k_df['lat_long']= bikedata25k_df['latitude_3dp'].astype(str) +','+ bikedata25k_df['longitude_3dp'].astype(str)

# trnsform to keep dtype as float
bikedata25k_df['lat_long']= bikedata25k_df['latitude_3dp']*1000000 + bikedata25k_df['longitude_3dp']

In [ ]:
#1.3  Cleaning : check for unique values in racktype
print(bikedata25k_df['RackType'].unique())
#results were:
#['Yellow Box' 'MRT_RACKS' 'LTA_RACKS' 'STB_RACKS' 'AVA_RACKS'
# 'NPARKS_RACKS' 'HDB_RACKS' 'JTC_RACKS' 'NLB_RACKS' 'NEA_RACKS' 'PA_RACKS'
# 'HSA_RACKS' 'BI_RACKS' 'URA_RACKS' 'MCCY_RACKS' 'SLA_RACKS' 'LTA_Racks'
# 'PUB_RACKS' 'SPORTSG_RACKS' 'HDB_YELLOWBOX' 'JBTC_RACKS'
# 'TEMASEK POLY_RACKS' 'ITE_RACKS' 'NANYANG POLY_RACKS' 'HBD_RACKS'
# 'RACKS_PA' 'MOH_RACKS' 'HDB_RACKs']

# Corrections needed to change HBD_RACKS and HDB_RACKs 
racktype_corrections = {
    'HBD_RACKS': 'HDB_RACKS',
    'HDB_RACKs': 'HDB_RACKS'
}

#replace spelling errors :
bikedata25k_df['racktype']= bikedata25k_df['RackType'].replace(racktype_corrections)

#check spelling corrected
print(bikedata25k_df['racktype'].unique())

In [ ]:
#1.4 Transforming: drop old column RackType
bikedata25k_df = bikedata25k_df.drop(columns = ['RackType'])
#1.5 Transforming bikedata table : lower case for columns 
bikedata25k_df.columns = bikedata25k_df.columns.str.lower()

In [ ]:
bikedata25k_df.head()

### Transforming postal lat long table 
- creating 4 columns
    - 3dp lat column
    - 3dp long columns 
    - lat_long combined column
    - First 2digit postal 
- deleting 6 columns
    - searchval, blk_no, road_name, building, address, postal.1

In [ ]:
postlatlong_df1 = pd.read_csv('JDE_2024/Interim-Project/sg_zipcode_mapper_Kaggle.csv', sep=',')
postlatlong_df1.columns
postlatlong_df1.head()

In [ ]:
# 2.1  Transforming postlatlong_df: Add two columns rounding 3 dp 
postlatlong_df1['Latitude_3dp'] = [truncate_number(i, 4) for i in postlatlong_df1['latitude']]
postlatlong_df1['Longitude_3dp'] = [truncate_number(i, 4) for i in postlatlong_df1['longitude']]
postlatlong_df1.head()

In [ ]:
#2.2 Transforming postlatlong_df : add lat_long column 
## code to transfrom to string - postlatlong_df1['lat_long']= postlatlong_df1['Latitude_3dp'].astype(str) +','+ postlatlong_df1['Longitude_3dp'].astype(str)

# trnsform to keep dtype as float
postlatlong_df1['lat_long']= postlatlong_df1['Latitude_3dp']*1000000 + postlatlong_df1['Longitude_3dp']

In [ ]:
#2.3 Transforming postlatlong_df : dropping columns 
postlatlong_df = postlatlong_df1.drop(columns = ['searchval', 'blk_no', 'road_name', 'building','address', 'postal.1'])

In [ ]:
#2.4 Transforming postlatlong_df : adding column Postal2D (Postal Code (First 2 digits))
postlatlong_df['postal2d'] = postlatlong_df['postal']//10000

In [ ]:
#2.5 Transforming postlatlong_df: lower case columns
postlatlong_df.columns = postlatlong_df.columns.str.lower()
postlatlong_df.head()

### Transforming the postcode district table

In [ ]:
# Import csv file 
postdist_df = pd.read_csv('JDE_2024/Interim-Project/district and f2postcode web.csv', sep=',')

In [ ]:
# Transform data by renaming column names and lower case fields
postdist_df.rename(columns ={'postal code (first two digits)':'postal2d'}, inplace = True)

In [ ]:
#change to lower case names 
postdist_df.columns= postdist_df.columns.str.lower()
postdist_df

### IMPORT DATA into POSTGRESQL

In [ ]:
#load items in to DB
#load full bike data into postgresql
engine = db.create_engine('postgresql://postgres:**********@localhost:5432/productionDB') 

conn = engine.raw_connection()

In [ ]:
bikedata25k_df.to_sql(name= 'bikedata25k_trns', con = engine, if_exists= 'replace', index= False)
postlatlong_df.to_sql(name= 'postlatlong_trns', con = engine, if_exists= 'replace', index= False)
postdist_df.to_sql(name= 'postdist_trns', con = engine, if_exists= 'replace', index= True)